@import '../vi-global';
@import '../workstation-global';
@import '../vi-icons';
@import '../../theme-mixins-ws';
@import '../../Button-ws';

.workstation .mstrmojo-IncHierarchyList {
    background: white;
    overflow: hidden;
    margin: 0;
    border: solid 1px $wsvi-ui-border-gray;
    border-radius: 3px;
    padding: 1px;
    box-shadow: none;

    &.dragIn {
        border: 1px solid $wsvi-primary-blue !important;
    }

    .raBtn {
        &.iconRA-expanded:before {
            content: '\e801';
        }

        &.iconRA-collapsed:before {
            content: '\e800';
        }

        width: 14px;

        &:hover {
            color: #007ebe;
        }
    }

    .list-content {
        display: block;
        background-color: $wsvi-primary-white;
        padding: 5px 0;
        height: 280px;

        .items-container {
            display: inline-block;

            .item {
                height: 26px;
                line-height: 26px;
                cursor: default;
                position: relative;
                padding: 0 3px 0 9px;
                color: $wsvi-primary-black;

                &.x {
                    color: $wsvi-font-gray;

                    &:hover, &.selected {
                        // override the item:hover and item:selected css
                        background-color: $wsvi-primary-white;
                        color: $wsvi-font-gray;
                    }
                }

                // for hidden item
                &.hidden {
                    display: none;
                }

                // to display horizontal scrollbar
                white-space: nowrap;

                .text {
                    // placeholder for RA button for item has no children and in tree view display
                    padding-left: 16px;
                    padding-right: 13px;
                }

                &.hasChildren .text {
                    // for hcd item, no padding-left since it has RA button
                    padding-left: 2px;
                }

                &.fetcher {
                    background: transparent;

                    .text {
                        color: $wsvi-primary-blue;
                        cursor: pointer;
                    }

                    &.hierarchy {
                        .text {
                            padding-left: 14px;
                        }
                    }
                }

                @include wsvi-hover-select-bg;

                &.message {
                    color: #a0a7ac;

                    &:hover {
                        background-color: transparent;
                    }

                    &.loading {
                        .item-content {
                            padding-left: 24px;
                            background: url(vi/images/spinner_ws.gif) no-repeat left;
                            width: auto;
                            @include backgroundSize(18px 18px)
                        }
                    }
                }

                .item-content {
                    padding: 5px 0;
                    display: inline-block;
                    width: 100%;
                    height: $wsvi-tips-line-height + 2px;
                    line-height: $wsvi-tips-line-height + 2px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    em {
                        font-style: normal;
                        background-color: #7CD3F3;
                    }
                }

                .btn {
                    border: solid 1px $wsvi-ui-border-gray;
                    border-radius: 3px;
                    background-color: white;
                    display: none;
                    height: $wsvi-tips-line-height;
                    line-height: $wsvi-tips-line-height;
                    width: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 3px 7px 3px 0;
                    padding: 0 5px;
                    color: $wsvi-primary-black;

                    &.d {
                        border-color: $wsvi-inputborder-disable;
                        color: $wsvi-buttonfont-disable;
                    }

                    &:hover {
                        cursor: pointer;

                        &.d {
                            cursor: default;
                        }
                    }
                }
            }
        }
    }

    &.flat .list-content .items-container {
        .item, .item.hasChildren {
            .text {
                // for flat display list, no padding-left since there is no RA button for all item
                padding-left: 0;
            }
        }
    }
}   