// Color Palette
$primary-white: #fff !default;
$primary-black: #444649 !default;
$primary-gray: #fafafa !default;
$primary-blue: #3B92ED !default;
$pressed-button-blue: #2869ae !default;
$pressed-button: #f4f5f5 !default;
$primaryblackborder: rgba(68, 70, 73, .2) !default;

$wsvi-background-disabled:#E7E8E8;
$wsvi-disable_fill:#E7E8E8;
$wsvi-buttonfont-disable: rgba(0,0,0,0.2);


$xtabCellUndefined: #c4fce3 !default;
$xtabCellDataElement: #f0fff8 !default;
$xtabCellMetricHeader: #fde6c6 !default;
$xtabCellData: #fffcf5 !default;

$wsvi-primary-black:#444649;
$wsvi-font-gray:rgba(68, 70, 73, 0.45);