$highlight-border-color: #34abeb;
$highlight-header-bg-color: #E6F1FF;
$highlight-body-bg-color: #E9F5FC;
$normal-header-bg-color: #EFEFF0;
$normal-body-attribute-bg-color: #F0FFF8;
$normal-body-metric-bg-color: #FFFCF5;

.mstrmojo-di-mappingpreview {
  overflow: hidden;   //TQMS 998942
  &.mstrmojo-scrollbar-host {
    .mstrmojo-scrolltrack.vertical {
      right: 1px;
    }

    .mstrmojo-scrolltrack.horizontal {
      bottom: 1px;
    }
  }

  .mstrmojo-DataGrid-headerContainer {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &.mstrmojo-DataGrid.lockHeader .mstrmojo-DataGrid-itemsScrollBox{
    @include scrollBar();
//    overflow: hidden; //YGUO TQMS-975095
    width: auto;
    &:hover{
      overflow-y: auto;
    }
  }
  &.mstrmojo-DataGrid td {
    border-bottom: 1px solid #CBCBCB;
    border-right: 1px solid #cbcbcb;
    padding: 0;
    &.NotImported{
      border-bottom:none;
    }
  }

  .mstrmojo-DataGrid-headerTable td {
    vertical-align: middle;
    border-right: 1px solid #cbcbcb;
    background-color: #efeff0;
    .mstrmojo-DataGrid-headerText {
      height: 22px;
      line-height: 22px;
      border: solid 2px transparent;
      padding-top: 0;
      min-width: 22px;
      .mstrmojo-di-mappingitem .mappingitem-text .mstrmojo-InlineEditBox-edit input {
        font-size: 12px;
        margin-top: -1px;
        margin-left: 1px;
      }
    }
  }

  .mapping-header-icon {
    background-image: url(../../../style/mstr/images/archlistView.png);
    background-repeat: no-repeat;
    border: 0px;
    color: $preiviewFontColor;
    height: 20px;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding-left: 35px;
    padding-right: 4px;
    background-color: transparent;
  }

  .mapping-header-icon.t0 {
    background-image: url(../../../style/mstr/images/archlistView.png);
    background-position: 0px 0px;
  }

  .mapping-header-icon.t12 {
    background-position: 9px -1196px; /*attribute*/
  }
  .mapping-header-icon.t4 {
    background-position: 7px -1220px; /*fact*/
  }
  .mapping-header-icon.t12.time {
    background-position: 10px -1174px; /*time attribute*/
  }
  .mapping-header-icon.t12.geo {
    background-position: 10px -1150px; /*geo attribute*/
  }

  .mapping-column {
    height: 21px;
    line-height: 21px;
    padding-left: 10px;
    background-color: #e8e8e8;
  }

  .mapping-column.Attribute {
    height: 20px;
    width: 100%;
    line-height: 20px;
    padding-left: 10px;
    background-color: #defbe6;
    /* TQMS 934262 show ellipsis instead of simple word break*/
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
  }

  .mapping-column.Attribute.even.selected {
    background-color: #A9A9A9;
  }

  .mapping-column.Attribute.odd.selected {
    background-color: #A9A9A9;
  }

  .mapping-column.Metric {
    height: 20px;
    width: 100%;
    line-height: 20px;
    padding-left: 10px;
    background-color: #fdf4d3;
    /* TQMS 934262 show ellipsis instead of simple word break*/
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
  }

  .mapping-column.Metric.even.selected {
    background-color: #A9A9A9;
  }

  .mapping-column.Metric.odd.selected {
    background-color: #A9A9A9;
  }

  .mapping-column.Form {
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    background-color: white;
  }
  .mapping-column.Form.selected {
    background-color: #A9A9A9;
  }
  .mstrmojo-DataGrid-itemsContainer table{
    border-collapse: collapse;
    border-spacing: 0;
  }
   &.mstrmojo-scrollbar-host .mstrmojo-scrolltrack .mstrmojo-scrollbar {
     min-height: 5px;
   }
}

.workstation {

  .mstrmojo-di-mappingpreview {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    box-sizing: border-box;
    border:1px solid #cbcbcb;
    //&.mstrmojo-DataGrid td {
    //  border-bottom: none;
    //  border-right: none;
    //}

    .mstrmojo-DataGrid-headerTable td {
      background-color: $primary-gray;
      font-size: 12px;
    }

    .mapping-column {
      border-left: solid 2px transparent;
      padding-left: 8px;
    }

    .mapping-column.Attribute {
      background-color: #F0FFF8;
    }

    .mapping-column.Metric {
      background-color: #FFFCF5;
    }
  }
}

// below for DE103274; highlight columns in preview grid
.mstrmojo-di-mappingpage {
  .mstrmojo-di-datapreview {
    .di-preview-container {
      .mstrmojo-di-mappingpreview {
        .mstrmojo-DataGrid-headerContainer {
          tr:first-child {
            td.highlight {
              border: solid 2px $highlight-border-color;
              border-bottom: 1px solid #CBCBCB;
              border-top: none;
              .mstrmojo-DataGrid-headerText {
                //animation: column-highlighting-header 1s;
                border-top: solid 2px #34abeb;
                background-color: $highlight-header-bg-color;
              }

            }
          }
          // for MFA exists
          td.highlight[rowspan='2'] {
            .mstrmojo-DataGrid-headerText {
              height: 50px;
              .mstrmojo-di-mappingitem {
                margin-top: 14px;
              }
            }
          }
          // for MFA column - sub-columns
          tr:last-child {
            td.highlight {
              &.L .mstrmojo-DataGrid-headerText {
                //animation: column-highlighting-header-mfa-subL 1s;
                background-color: $highlight-header-bg-color;
              }
              &.M .mstrmojo-DataGrid-headerText {
                //animation: column-highlighting-header-mfa-subM 1s;
                background-color: $highlight-header-bg-color;
              }
              &.R .mstrmojo-DataGrid-headerText {
                //animation: column-highlighting-header-mfa-subR 1s;
                background-color: $highlight-header-bg-color;
              }
            }
          }
        }
        .mstrmojo-DataGrid-itemsScrollBox {
          td.highlight {
            border-left: solid 2px $highlight-border-color;
            border-right: solid 2px $highlight-border-color;
            .mapping-column {
              //animation: column-highlighting-body 1s;
              box-sizing: border-box;
            }
            .mapping-column.Attribute {
              //animation: column-highlighting-body-attribute 1s;
              background-color: $highlight-body-bg-color;
            }
            .mapping-column.Metric {
              //animation: column-highlighting-body-metric 1s;
              background-color: $highlight-body-bg-color;
            }
          }
        }
      }
    }
  }
}

//@keyframes column-highlighting-body {
//  0% {
//    background-color: $normal-body-attribute-bg-color;
//    border-left: solid 2px transparent;
//    border-right: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-body-bg-color;
//    border-left: solid 2px $highlight-border-color;
//    border-right: solid 2px $highlight-border-color;
//  }
//}
//
//@keyframes column-highlighting-body-attribute {
//  0% {
//    background-color: $normal-body-attribute-bg-color;
//    border-left: solid 2px transparent;
//    border-right: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-body-bg-color;
//    border-left: solid 2px $highlight-border-color;
//    border-right: solid 2px $highlight-border-color;
//  }
//}
//
//@keyframes column-highlighting-body-metric {
//  0% {
//    background-color: $normal-body-metric-bg-color;
//    border-left: solid 2px transparent;
//    border-right: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-body-bg-color;
//    border-left: solid 2px $highlight-border-color;
//    border-right: solid 2px $highlight-border-color;
//  }
//}
//
//@keyframes column-highlighting-header {
//  0% {
//    background-color: $normal-header-bg-color;
//    border: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-header-bg-color;
//    border: solid 2px $highlight-border-color;
//    border-bottom: solid 2px transparent;
//  }
//}
//
//@keyframes column-highlighting-header-mfa-subL {
//  0% {
//    background-color: $normal-header-bg-color;
//    border-left: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-header-bg-color;
//    border-left: solid 2px $highlight-border-color;
//  }
//}
//
//@keyframes column-highlighting-header-mfa-subM {
//  0% {
//    background-color: $normal-header-bg-color;
//  }
//  100% {
//    background-color: $highlight-header-bg-color;
//  }
//}
//
//@keyframes column-highlighting-header-mfa-subR {
//  0% {
//    background-color: $normal-header-bg-color;
//    border-right: solid 2px transparent;
//  }
//  100% {
//    background-color: $highlight-header-bg-color;
//    border-right: solid 2px $highlight-border-color;
//  }
//}