.dbTypeIcon-baseImg{
  background: url('images/DI/diIcons.svg') -120px -20px no-repeat;
}

.medium-ds-Actian{
  background-position: -20px -20px;
}

.medium-ds-Actian-n{
  background-position: -220px -20px;
}

.medium-ds-Altibase{
  background-position: -420px -20px;
}

.medium-ds-Amazon-Athena{
  background-position: -520px -20px;
}

.medium-ds-Amazon-Aurora{
  background-position: -620px -20px;
}

.medium-ds-Amazon-EMR{
  background-position: -720px -20px;
}

.medium-ds-Amazon-Redshift{
  background-position: -820px -20px;
}

.medium-ds-Apache-Cassandra-JDBC{
  background-position: -20px -120px;
}

.medium-ds-Apache-Hive{
  background-position: -120px -120px;
}

.medium-ds-Arcadia-Platform{
  background-position: -320px -120px;
}
.medium-ds-CiscoDataVirtualization{
  background-position: -520px -120px;
}
.medium-ds-Aster{
  background-position: -420px -120px;
}
.medium-ds-ClouderaHive{
  background-position: -620px -120px;
}
.medium-ds-Cirro{
  background-position: -520px -720px;
}
.medium-ds-TM1{
  background-position: -820px -120px;
}
.medium-ds-DataDirectCloud{
  background-position: -20px -520px;
}

.medium-ds-Denodo{
  background-position: -720px -120px;
}
.medium-ds-EXASolution{
  background-position: -120px -520px;
}
.medium-ds-EnterpriseDB{
  background-position: -20px -620px;
}
.medium-ds-Vertica{
  background-position: -120px -620px;
}
.medium-ds-HortonworksHive{
  background-position: -620px -220px;
}
.medium-ds-IBMBigInsights{
  background-position: -420px -520px;
}
.medium-ds-DB2{
  background-position: -720px -220px;
}

.medium-ds-InformixWire{
  background-position: -220px -620px;
}
.medium-ds-InformixXPS{
  background-position: -220px -620px;
}
.medium-ds-Netezza{
  background-position: -220px -420px;
}
.medium-ds-Impala{
  background-position: -20px -1020px;
}
.medium-ds-Infobright{
  background-position: -320px -620px;
}
.medium-ds-Informatica{
  background-position: -720px -520px;
}
.medium-ds-Kognitio{
  background-position: -420px -620px;
}

.medium-ds-MapRDrill{
  background-position: -820px -220px;
}
.medium-ds-MapRHive{
  background-position: -820px -220px;
}
.medium-ds-MariaDB{
  background-position: -620px -520px;
}
.medium-ds-MemSQL{
  background-position: -520px -520px;
}
.medium-ds-MicroSoft{
  background-position: -20px -220px;
}
.medium-ds-MongoDB, .medium-ds-MongoBI{
  background-position: -20px -320px;
}
.medium-ds-MarkLogic{
  background-position: -120px -820px;
}
.medium-ds-MySQL{
  background-position: -620px -420px;
}
.medium-ds-Oracle{
  background-position: -120px -320px;
}
.medium-ds-ParStream{
  background-position: -20px -820px;
}
.medium-ds-Phoenix{
  background-position: -220px -820px;
}
.medium-ds-apache{
  background-position: -220px -120px;
}
.medium-ds-Generic{
  background-position: -120px -20px;
}
.medium-ds-GreenPlum{
  background-position: -720px -420px;
}
.medium-ds-GoogleBigQuery{
  background-position: -720px -720px;
}
.medium-ds-PIVOTALHAWQ{
  background-position: -520px -620px;
}

.medium-ds-PostgreSQL{
  background-position: -520px -420px;
}
.medium-ds-Presto{
  background-position: -420px -420px;
}
.medium-ds-Salesforce{
  background-position: -820px -720px;
}
.medium-ds-SAP{
  background-position: -220px -320px;
}
.medium-ds-Snowflake{
  background-position: -420px -720px;
}
.medium-ds-SharkSpark{
  background-position: -420px -320px;
}
.medium-ds-Splunk{
  background-position: -620px -720px;
}
.medium-ds-Teradata{
  background-position: -520px -320px;
}
.medium-ds-WebServices{
  background-position: -120px -720px;
}
.medium-ds-MapD {
  background-position: -120px -1020px;
}
.medium-ds-Yellowbrick {
  background-position: -220px -1020px;
}
.medium-ds-Druid {
  background-position: -520px -920px;
}
.medium-ds-HortonworksSpark {
  background-position: -620px -220px;
}