.mstrmojo-DI-ui-dialogs-DIAuthenticationDialog {
  width: 340px;

  .mstrmojo-Editor-content {
    .mstrmojo-Box.ctrl-box {
      &:first-child {
        margin-top: 16px;
      }
      margin-bottom: 15px;
      .mstrmojo-Label.ctrl-label {
        float: left;
        margin-right: 25px;
        width: 100px;
        line-height: 22px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div:last-child, input:last-child {
        float: left;
        width: 180px;
      }
    }

    .sharedConnection {
      margin-bottom: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}