.mstrmojo-Editor.mstrmojo-locale-resolute {
  width: 510px;

  .mstrmojo-Editor-close {
    display: none;
  }

  .locale-resolute-error {
    padding: 16px 0;
    vertical-align: top;
    max-height: 275px;
    word-wrap: break-word;
    overflow: hidden;
  }

  .mstrmojo-Editor-content {
    border-bottom: none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .mstrmojo-CheckBox.locale-resolute-chk {
    border: none;
    background: transparent;
    position: absolute;
    bottom: -35px;
  }
  .locale-resolute-help {
    display: inline;
    padding-left: 2px;
    color: #0C84C4;
  }
}
